/* Comment */

body {
    background-color: lightblue;
    /*backgound-image: url("file.gif");
    background-repeat: repeat-x;
    background-position: right top;
    background-attachment: fixed;
    =
    background: lightblue url("file.png") no-repeat right top;*/
    opacity: 0.3;
}

p {
  color: red;
  text-align: right;
}

#para1 {
    color: gray;
    text-align: justify;
}

p.center {
    color: blue;
    text-align: center;
}

#borderpara {
    border-width: thick thin; /*Each border can have different width*/
    border-style: dotted solid; /*Each border can have different style*/
    border-color: red blue; /*Each border can have different color*/
    border-radius: 5px;
}